DB_TYPE=
DB_USER=
DB_PASS=
DB_PORT=
DB_HOST=
DB_NAME=
DATABASE_URL="${DB_TYPE}://${DB_USER}:${DB_PASS}@${DB_HOST}:${DB_PORT}/${DB_NAME}?schema=public"

ADMIN_USER=
ADMIN_PASS=

JWT_SECRET=      # openssl rand -base64 64
JWT_REFRESH=     # openssl rand -base64 64
